.folder {
  padding-inline-start: 1.5em;
  text-decoration-line: none;
  background-image: url("/ms-links-index/folder.png");
  background-position: left top;
  background-repeat: no-repeat
}

.file {
  padding-inline-start: 1.5em;
  text-decoration-line: none;
  background-image: url("/ms-links-index/folder.png");
  background-position: left top;
  background-repeat: no-repeat
}